@import "src/styles/vars";

.about {
  position: relative;
  &__promo {
    background-image: url("../../images/about-promo-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 160px 0;
    text-align: center;
    margin-top: -53px;
  }
  &__promo-title {
    color: $black;
    @extend %title-font;
    font-size: 60px;
    line-height: 80px;
  }
  &__content {
    padding: 130px 0 40px;
  }
  &__content-title {
    color: $black;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    max-width: 820px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    position: relative;
    &::after {
      @extend %line;
      width: 200px;
    }
  }
  &__content-text {
    margin-left: 285px;
    p {
      margin-bottom: 30px;
    }
  }
  &__video-popup {
    min-height: 414px;
    background-image: url("../../images/about-modal-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__video-popup-play {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
  &__modal {
    width: 100vw;
    height: 100vh;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    opacity: 1;
    background-color: rgba($black, 0.85);
  }
  &__modal-close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -50px;
  }
  &__modal-content {
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
  }
  &__modal-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    min-width: 100%;
    height: 0;
    & iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  &__detail {
    padding-top: 100px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 358px;
      z-index: -1;
      background-image: url("../../images/about-detail-bg.jpg");
    }
  }
  &__detail-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__detail-img {
    margin-right: 78px;
    margin-left: -228px;
  }
  &__detail-content {
    max-width: 825px;
  }
  &__detail-title {
    color: $black;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    padding-bottom: 16px;
    margin-bottom: 26px;
    position: relative;
    &::after {
      @extend %line;
      width: 200px;
    }
  }
  &__detail-text {
    line-height: 27px;
    margin-bottom: 30px;
  }
  &__detail-item {
    color: $black;
    @extend %title-font;
    line-height: 23px;
    margin-bottom: 33px;
  }
  &__detail-item-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    padding-bottom: 14px;
  }
  &__detail-item-line {
    background-color: $black;
    height: 2px;
    margin-top: -2px;
  }
}
