@import "src/styles/vars";

.info-email {
  font-weight: 600;
  color: $black;
  font-size: 14px;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block;
  position: relative;
  &::before {
    content: "";
    background-image: url("../../images/envelope.svg");
    top: 8px;
    left: 0;
    width: 16px;
    height: 12px;
    position: absolute;
  }
}
